/*! global variable */
/* - table */
/* _- th */
/* _- thead */
/* _- td */
/* _ pre */


/* .summary-table>table {
    border-collapse: collapse;
    width: 100%;
} */

/* border: 1px solid black; */
/* .summary-table>th td {
    padding: 8px;
} */

/* Align header cells to the left */
/* background-color: #f2f2f2; */
/* Optional: Add a background color */

/* .summary-table>thead th {
    text-align: left;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 15px;
} */

/* border: 1px solid black; */
/* .summary-table>td th {
    padding: 15px;
    border-top: 1px solid #efefef;
} */


/* .summary-table>td.custom-border {
    border: 2px dashed red;
} */

/* .summary-table>th {
    background-color: #f2f2f2;
} */

/* pre {
    margin: 0;
} */


/* _ ======================================== New CSS ======================================== */

.summary-table {
    width: 100%;
    border-collapse: collapse;
}

.summary-table th,
.summary-table td {
    padding: 15px;
    text-align: left;
}

.summary-table thead th {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    background-color: #f2f2f2;
}

.summary-table tbody td {
    /* border-top: 1px solid #efefef; */
}

.summary-table td.custom-border {
    border: 2px dashed red;
}

pre {
    margin: 0;
}